@model Contact.Models.Person
@{
    ViewBag.Title = "Details";
}

<h2>@Model.FirstName @Model.LastName</h2>

<ul>
    <li>@Model.Email</li>
    <li>@Model.PhoneNumber</li>
    <li>
        Address
        <ul>
            <li>@Model.Address.Street</li>
            <li>@Model.Address.City</li>
            <li>@Model.Address.Zip</li>
        </ul>
    </li>
    
</ul>